<div class="container" ng-controller="client-controller">
    <div class="panel panel-info">
        <div class="panel-heading">
            Client Details 
        </div>
        <div class="panel-body">
            <button type="button" class="btn btn-info"
                    data-target="#AddNew" data-toggle="modal">
                Add Client
            </button>
            <br />
        </div>

        @*Clients Records*@
        <table class="table table-bordered">
            <thead style="background-color:lightblue;">
                <tr>
                    <th> Client ID</th>
                    <th> Surname</th>
                    <th> FirstName </th>
                    <th> Identity Type</th>
                    <th>Identity Number</th>
                    <th>Date of Birth</th>
                    <th> Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="Client in Clients">
                    <td> {{Client.Id}}</td>
                    <td> {{Client.Surname}} </td>
                    <td>{{Client.FirstName}}</td>
                    <td>{{Client.IdentityType}}</td>
                    <td>{{Client.IdentityNumber}}</td>
                    <td>{{Client.DateOfBirth.slice(6, -2) | date: 'yyyy-MM-dd'}}</td>
                    <td style="width:200px;">
                        <a href="#"
                           class="btn btn-info"
                           data-toggle="modal"
                           data-target="#Update"
                           ng-click="getForUpdate(Client)">
                            Update
                        </a>
                        <a href="#" class="btn btn-danger"
                           id="btnDelete"
                           data-toggle="modal"
                           data-target="#deleteDialog"
                           ng-click="getForDelete(Client)">
                            Delete
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


    @*New record Modal addition..*@
    <div class="modal" id="AddNew" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="text-info">Add New Client</h3>
                </div>
                <div class="modal-body" style="margin-left:20px">
                    @*Add New Client form starts here...*@
                    <form class="form-horizontal" name="AddNewForm">
                        <div class="form-group">
                            <label class="control-label"> Surname</label>
                            <input class="form-control"  name="Surname" ng-model="Surname" type="text" placeholder="Client surname" />
                        </div>
                        <div class="form-group">
                            <label class="control-label"> First Name</label>
                            <input class="form-control" name="FirstName" ng-model="FirstName" type="text" placeholder="client Name" />

                        </div>
                        <div class="form-group">
                            <label class="control-label"> Identity Type</label>
                            <input class="form-control" name="IdentityType" ng-model="IdentityType" type="text" placeholder="ID or Passport" />

                        </div>
                        <div class="form-group">
                            <label class="control-label"> Identity Number</label>
                            <input class="form-control" name="IdentityNumber" ng-model="IdentityNumber" type="text" placeholder="Identity Number" />

                        </div>
                        <div class="form-group">
                            <label class="control-label"> Date Of Birth</label>
                            <input class="form-control" data-date-format="DD MMMM YYYY" value="1900-08-09" name="DateOfBirth" ng-model="DateOfBirth" type="date" placeholder="Date of Birth" />

                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btnSave" data-dismiss="modal" ng-click="save()">Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="resetSave()">Close</button>
                </div>
            </div>
        </div>
    </div>

    @*Upadate Client records*@
    <div class="modal" id="Update" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="text-info">Update Existing Client</h3>
                </div>
                <div class="modal-body" style="margin-left:20px">
                    @*Update Client form starts here...*@
                    <form class="form-horizontal" name="UpdateClientForm">
                        <div class="form-group">
                            <label class="text-info"> ClientID</label>
                            <input class="form-control" readonly="readonly" name="Id" ng-model="UpdateId" type="text" placeholder="ClientId" />
                        </div>
                        <div class="form-group">
                            <label class="text-info"> Surname</label>
                            <input class="form-control" name="Surname" ng-model="UpdateSurname" type="text" placeholder="Surname" />
                        </div>
                        <div class="form-group">
                            <label class="text-info"> First Name</label>
                            <input class="form-control" name="FirstName" ng-model="UpdateFirstName" type="text" placeholder="First Name" />
                        </div>
                        <div class="form-group">
                            <label class="text-info"> Identity Type</label>
                            <input class="form-control" name="IdentityType" ng-model="UpdateIdentityType" type="text" placeholder="ID or Passport" />
                        </div>
                        <div class="form-group">
                            <label class="text-info"> Identity Number</label>
                            <input class="form-control" name="IdentityNumber" ng-model="UpdateIdentityNumber" type="text" placeholder="Identity Number" />
                        </div>
                        <div class="form-group">
                            <label for="exampleInput" class="text-info"> Date of birth</label>
                            <input class="form-control" id="exampleInput" name="DateOfBirth" data-date-format="DD MMMM YYYY" value="1900-08-09" ng-model="UpdateDateOfBirth" type="date" placeholder="Date Of Birth" />
                        </div>
                       
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btnUpdate" data-dismiss="modal" ng-click="update()">
                        Update
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    @*Delete Client record*@
    <div class="modal" role="dialog" id="deleteDialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="text-info">Are you sure you want to delete the record?</h3>
                </div>
                <div class="modal-body">
                    <div>
                        <p>Client ID : {{UpdateId}}</p>
                        <p>Surname : {{UpdateSurname}}</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="delete(UpdateId)">Delete Record</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</div>

@section scripts{
    <script src="~/AngularJSApp/Client/Module.js"></script>
    <script src="~/AngularJSApp/Client/Service.js"></script>
    <script src="~/AngularJSApp/Client/Controller.js"></script>

}
